<div class="unitBanner banner3"></div>
<div class="tabBox mid800">
<h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    品質規範
    <i class="fas fa-angle-right"></i>
    證書
</h5>
</div>
<div class="mid800 proTabsBtn">
    <a class="childBtn" routerLink="/quality/certificate" routerLinkActive="active">證書</a>
    <a class="childBtn" routerLink="/quality/equipment" routerLinkActive="active">實驗室設備</a>
</div>
<div class="mainbox1 mid800">
    <div class="txtBox">
      <h1>證書</h1>
    </div>

    <div class="swtH4Btn">
      <h2 (click)="intro1Change()" [ngClass]="{'h2active': intro1 == true}">品質管理系統</h2>
      <h2 (click)="intro2Change()" [ngClass]="{'h2active': intro2 == true}">AkzoNobel</h2>
      <h2 (click)="intro3Change()" [ngClass]="{'h2active': intro3 == true}">國邦化學</h2>
      <h2 (click)="intro4Change()" [ngClass]="{'h2active': intro4 == true}">南寶樹脂</h2>
    </div>

    <div class="containPlx"  *ngIf="intro1">
      <h2 class="center" style="margin-bottom: 20px;">品質管理系統</h2>
        <div>
          <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="certificateMain">
            <a class="pic" href="assets/images/quality/certificate/certificate1.webp"><img src="assets/images/quality/certificate/certificate1.webp" alt="品質管理系統 ISO 9001：2015"><p>品質管理系統 ISO 9001：2015</p></a>
          </lightgallery>
        </div>
    </div>
    <div class="containPlx"  *ngIf="intro2">
      <h2 class="center" style="margin-bottom: 20px;">AkzoNobel</h2>
        <div>
          <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="certificateMain">
            <a class="pic" href="assets/images/quality/certificate/certificate4.webp"><img src="assets/images/quality/certificate/certificate4.webp" alt="Interpon D 3000"><p>Interpon D 3000</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate3.webp"><img src="assets/images/quality/certificate/certificate3.webp" alt="Interpon D 合格塗裝廠授權證書"><p>Interpon D 合格塗裝廠授權證書</p></a>
          </lightgallery>
        </div>
    </div>
    <div class="containPlx"  *ngIf="intro3">
      <h2 class="center" style="margin-bottom: 20px;">國邦化學</h2>
        <div>
          <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="certificateMain">
            <a class="pic" href="assets/images/quality/certificate/certificate5.webp"><img src="assets/images/quality/certificate/certificate5.webp" alt="國邦化學AAMA 2604-13 塗裝授權"><p>國邦化學AAMA 2604-13 塗裝授權</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate6.webp"><img src="assets/images/quality/certificate/certificate6.webp" alt="國邦化學AAMA 2605-13 塗裝授權"><p>國邦化學AAMA 2605-13 塗裝授權</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate2.webp"><img src="assets/images/quality/certificate/certificate2.webp" alt="國邦塗裝授權證書"><p>國邦塗裝授權證書</p></a>
          </lightgallery>
        </div>
    </div>
    <div class="containPlx"  *ngIf="intro4">
      <h2 class="center" style="margin-bottom: 20px;">南寶樹脂</h2>
        <div>
          <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="certificateMain">
            <a class="pic" href="assets/images/quality/certificate/certificate7.webp"><img src="assets/images/quality/certificate/certificate7.webp" alt="南寶塗裝授權書"><p>南寶塗裝授權書</p></a>
          </lightgallery>
        </div>
    </div>
</div>

