<div class="unitBanner banner3"></div>
<div class="tabBox mid800">
<h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    品質規範
    <i class="fas fa-angle-right"></i>
    證書
</h5>
</div>
<div class="mid800 proTabsBtn">
    <a class="childBtn" routerLink="/quality/certificate" routerLinkActive="active">證書</a>
    <a class="childBtn" routerLink="/quality/equipment" routerLinkActive="active">實驗室設備</a>
</div>
<div class="mainbox1 mid800">
    <div class="txtBox">
      <h1>證書</h1>
    </div>


    <div class="containPlx">
        <div>
          <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="certificateMain">
            <a class="pic" href="assets/images/quality/certificate/certificate1.jpg"><img src="assets/images/quality/certificate/certificate1.jpg" alt="品質管理系統 ISO 9001：2015"><p>品質管理系統 ISO 9001：2015</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate4.jpg"><img src="assets/images/quality/certificate/certificate4.jpg" alt="Interpon D 系列 3003認證書"><p>Interpon D 系列 3003認證書</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate3.jpg"><img src="assets/images/quality/certificate/certificate3.jpg" alt="Interpon D 合格塗裝廠授權證書"><p>Interpon D 合格塗裝廠授權證書</p></a>  
            <a class="pic" href="assets/images/quality/certificate/certificate2.jpg"><img src="assets/images/quality/certificate/certificate2.jpg" alt="國邦塗裝授權證書"><p>國邦塗裝授權證書</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate5.jpg"><img src="assets/images/quality/certificate/certificate5.jpg" alt="國邦化學AAMA 2604-13 塗裝授權"><p>國邦化學AAMA 2604-13 塗裝授權</p></a>
            <a class="pic" href="assets/images/quality/certificate/certificate6.jpg"><img src="assets/images/quality/certificate/certificate6.jpg" alt="國邦化學AAMA 2605-13 塗裝授權"><p>國邦化學AAMA 2605-13 塗裝授權</p></a>
          </lightgallery>
        </div>
      </div>
</div>

