<app-big-banner></app-big-banner>

<div class="mainbox1 mid1000">
  <div class="mbLeft60">
    <h1>
      關於炬洋
    </h1>
    <div class="containPlx">
      <p>炬洋有限公司成立於西元1981年，設立於彰化縣芳苑鄉， 專營建築帷幕、室內外門窗鋁擠型、工業用鋁擠型等鋁材專業塗裝與表面處理。我們擁有專業粉體烤漆技術團隊與自動化生產設備，並有堅強的業務團隊 提供給客戶優質的烤漆專業的服務與諮詢，給予客戶最滿意且安心的品質...1</p>
    </div>
    <button routerLink="/about">
      了解更多
    </button>
  </div>
  <div class="mbRight40">
      <img src="assets/images/aboutPic1.jpg" alt="">
  </div>
</div>

<div class="proBg">
  <div class="mainbox1 mid1000 ">
    <div class="mbFull">
      <h1>
        產品資訊
      </h1>
      <div class="containPlx">
        <div class="proBtn">
          <div class="proBox">
            <button>
              <img src="assets/images/indexPro1.jpg" alt="">
              <p>關於粉體塗裝</p>
            </button>
          </div>
          <div class="proBox">
            <button>
              <img src="assets/images/indexPro2.jpg" alt="">
              <p>生產流程</p>
            </button>
          </div>
          <div class="proBox">
            <button>
              <img src="assets/images/indexPro3.jpg" alt="">
              <p>產品介紹</p>
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="mainbox1 mid1000">
  <div class="mbLeft50">
    <img src="assets/images/indexQuality.jpg" alt="">
  </div>
  <div class="mbRight50">

      <h1>
        品質規範
      </h1>
      <div class="containPlx">
        <p>炬洋有限公司通過ISO 9001：2015鋁製品粉末塗裝認證，並擁有Interpon、南寶塗料、國邦化學等多家塗裝授權證書。本公司提供最優質的產品品質，並且因應官方及客戶之期望與要求，不斷更新進步。</p>
      </div>
      <button routerLink="/quality">
        了解更多
      </button>
  </div>
</div>
