<div class="unitBanner banner5"></div>
<div class="tabBox mid800">
    <h5>
        <a routerLink=""><i class="fas fa-home"></i>首頁</a>
        <i class="fas fa-angle-right"></i>
        聯絡我們
    </h5>
</div>
<div class="mainbox1 mid800">
    <div class="txtBox">
      <h1>聯絡我們</h1>
      <br>
    </div>
    <form #myForm="ngForm" [formGroup]="form" (ngSubmit)="submit()">
        <div class="contactFormMain">
            <div class="formG">
                <label for="">公司行號</label>
                <div class="formInput">
                    <input type="text" formControlName="company">
                
                </div>
               
            </div>
            <div class="formG">
                <label for=""><span style="color:#dc143c ;">*</span>  聯絡人姓名</label>
                <div class="formInput">
                    <input type="text" formControlName="name">
                    <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="alert">
                        <div *ngIf="form.controls['name'].errors?.['required']">
                          必填
                        </div>
                    </div>
                </div>
               
            </div>  
            <div class="formG">
                <label for=""><span style="color:#dc143c ;">*</span>  聯絡人電話</label>
                <div class="formInput">
                    <input type="text" formControlName="phone">
                    <div *ngIf="form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched)" class="alert">
                        <div *ngIf="form.controls['phone'].errors?.['required']">
                            必填
                        </div>
                        <div *ngIf="form.controls['phone'].errors?.['pattern']">
                            請輸入正確的電話格式
                          </div>
                    </div>
                </div>
                
            </div>
            <div class="formG">
                <label for=""><span style="color:#dc143c ;">*</span>  E-mail</label>
                <div class="formInput">
                    <input type="text" formControlName="email">
                    <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)" class="alert">
                        <div *ngIf="form.controls['email'].errors?.['required']">
                            必填
                        </div>
                        <div *ngIf="form.controls['email'].errors?.['pattern']">
                          請輸入正確的email格式
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="formG">
                <label for=""><span style="color:#dc143c ;">*</span>  主旨</label>
                <div class="formInput">
                    <select  formControlName="subject">
                        <option [ngValue]="item.for" *ngFor="let item of subject">
                            {{item.for}}
                        </option>
                    </select>
                </div>
               
            </div>
            <div class="formG">
                <label for=""><span style="color:#dc143c ;">*</span>  需求內容</label>
                <div class="formInput">
                    <textarea name="" id="" cols="30" rows="10"  formControlName="content"></textarea>
                    <div *ngIf="form.controls['content'].invalid && (form.controls['phone'].dirty || form.controls['content'].touched)" class="alert">
                        <div *ngIf="form.controls['content'].errors?.['required']">
                            必填
                        </div>
                    </div>
                </div>
            
            </div>
            <div  class="formG">
                <label for=""></label>
                <div class="formInput butPlz">
                    <button type="submit" [disabled]="form.invalid"><i class="fas fa-paper-plane"></i> 送出</button>

                    <button class="clear" type="button" (click)="reset()"><i class="fas fa-backspace"></i> 清除</button>
                </div> 
            </div>

        </div>
    </form>
</div>
<div class="grayBG">


    <div class="mainbox1 mid800">
        <div class="txtBox">
            <h1>交通位置</h1>
            <p>彰化縣芳苑鄉草湖村二溪路草一段7號1樓</p>
            <p>TEL:04-8961891 FAX:04-8966539</p>
            <br>
        </div>
        <div class="iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3646.9874159191277!2d120.37906345125549!3d23.925499687903983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34694d061e2a3e6b%3A0xd031645d2805c26!2z54Ks5rSL5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1654252056060!5m2!1szh-TW!2stw" width="100%" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
    </div>

</div>