.bigBanner{
  // width: auto;
  //height: 350px;
  color: #ffffff;
  overflow: hidden;
  background-color: #e9e9e9;

  img{
    width: 100%;
    height: auto;
  }
  // &.bg1{
  //   background: url("../../../assets/images/sliderBanner1.jpg") no-repeat center center;
  //   background-size: cover;
  // }
  // @media screen and (max-width: 768px) {
  //   height: 250px;
  // }
 }

