<div class="unitBanner banner2"></div>
<div class="tabBox mid800">
  <h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    產品資訊
    <i class="fas fa-angle-right"></i>
    生產流程
  </h5>
</div>
<div class="mid800 proTabsBtn">
  <a class="childBtn" routerLink="/products/about" routerLinkActive="active">粉體塗裝</a>
  <a class="childBtn" routerLink="/products/coating" routerLinkActive="active">塗料介紹</a>
  <a class="childBtn" routerLink="/products/process" routerLinkActive="active">生產流程</a>
  <a class="childBtn" routerLink="/products/intro" routerLinkActive="active">產品介紹</a>
</div>

<div class="mainbox1 mid800">
  <div class="txtBox">
    <h1>生產流程</h1>
  </div>

  <div class="swtH2Btn">
    <h2 (click)="process1Change()" [ngClass]="{'h2active': process1 === true}">立式線</h2>
    <h2 (click)="process2Change()" [ngClass]="{'h2active': process2 === true}">橫式線</h2>
  </div>


  <div class="containPlx">

    <div class="processMain"  *ngIf="process1">
      <h1>立式線</h1>

      <div class="stepMain step1">
        <h3>STEP1 來料分選</h3>
        <div class="bGroup">
          <div class="box"><p>進料</p></div>
          <div class="box"><p>建檔</p></div>
          <div class="box boxImg boxImg1"><p>分色</p></div>
        </div>
      </div>

      <div class="stepMain step2">
        <h3>STEP2 前處理＆噴塗</h3>
        <div class="bGroup">
          <div class="box"><p>鑽孔</p></div>
          <div class="box"><p>吊掛</p></div>
          <div class="box"><p>預洗</p></div>
          <div class="box"><p>脫脂</p></div>
          <div class="box"><p>蝕刻</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>鉻酸處理</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>超純水洗</p></div>
          <div class="box boxImg boxImg2"><p>水切乾燥</p></div>
          <div class="box"><p>噴塗作業</p></div>
          <div class="box"><p>加溫硬化</p></div>
        </div>
      </div>

      <div class="stepMain step3">
        <h3>STEP3 品管</h3>
        <div class="bGroup">
          <div class="box boxImg boxImg3"><p>塗面檢驗</p></div>
          <div class="box boxImg boxImg4"><p>膜厚測試</p></div>
          <div class="box"><p>外觀檢驗</p></div>
        </div>
      </div>

      <div class="stepMain step5">
        <h3>STEP4 包裝出貨</h3>
        <div class="bGroup">
          <div class="box"><p>收料</p></div>
          <div class="box"><p>冷卻</p></div>
          <div class="box boxImg boxImg5"><p>膠膜包裝</p></div>
          <div class="box boxImg boxImg6"><p>清點物料</p></div>
          <div class="box boxImg boxImg10"><p>出貨</p></div>
        </div>
      </div>


    </div>


    <div class="processMain"  *ngIf="process2">
      <h1>橫式線</h1>

      <div class="stepMain step1">
        <h3>STEP1 來料分選</h3>
        <div class="bGroup">
          <div class="box"><p>進料</p></div>
          <div class="box"><p>建檔</p></div>
          <div class="box boxImg boxImg1"><p>分色</p></div>
        </div>
      </div>

      <div class="stepMain step2">
        <h3>STEP2 前處理＆噴塗</h3>
        <div class="bGroup">
          <div class="box"><p>鑽孔</p></div>
          <div class="box"><p>吊掛</p></div>
          <div class="box"><p>預洗</p></div>
          <div class="box"><p>脫脂</p></div>
          <div class="box"><p>蝕刻</p></div>
          <div class="box"><p>預水洗</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>鉻酸處理</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>水洗</p></div>
          <div class="box"><p>超純水洗</p></div>
          <div class="box boxImg boxImg2"><p>水切乾燥</p></div>
          <div class="box boxImg boxImg7"><p>收料</p></div>
        </div>
      </div>

      <div class="stepMain step4">
        <h3>STEP3 噴塗</h3>
        <div class="bGroup">
          <div class="box boxImg boxImg8"><p>掛料</p></div>
          <div class="box boxImg boxImg9"><p>噴塗作業</p></div>
          <div class="box"><p>加溫硬化</p></div>
        </div>
      </div>

      <div class="stepMain step3">
        <h3>STEP4 品管</h3>
        <div class="bGroup">
          <div class="box boxImg boxImg3"><p>塗面檢驗</p></div>
          <div class="box boxImg boxImg4"><p>膜厚測試</p></div>
          <div class="box"><p>外觀檢驗</p></div>
        </div>
      </div>

      <div class="stepMain step5">
        <h3>STEP5 包裝出貨</h3>
        <div class="bGroup">
          <div class="box"><p>收料</p></div>
          <div class="box"><p>冷卻</p></div>
          <div class="box boxImg boxImg11"><p>膠膜包裝</p></div>
          <div class="box boxImg boxImg6"><p>清點物料</p></div>
          <div class="box boxImg boxImg10"><p>出貨</p></div>
        </div>
      </div>


    </div>

  </div>

</div>



