<div class="unitBanner banner2"></div>
<div class="tabBox mid800">
  <h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    產品資訊
    <i class="fas fa-angle-right"></i>
    粉體塗裝
  </h5>
</div>
<div class="mid800 proTabsBtn">
  <a class="childBtn" routerLink="/products/about" routerLinkActive="active">粉體塗裝</a>
  <a class="childBtn" routerLink="/products/process" routerLinkActive="active">生產流程</a>
  <a class="childBtn" routerLink="/products/intro" routerLinkActive="active">產品介紹</a>
</div>

<div class="mainbox1 mid800">
  <div class="txtBox">
    <h1>粉體塗裝優點</h1>
  </div>
  <div class="advantageMain">
    <div class="advantageBox">
      <div class="box" style=" border: 2px solid #0697f8;">
        <div class="h2Group"  style="color:#0697f8 ;">
          <i class="far fa-lightbulb"></i>
          <h2>特性</h2>
        </div>
        <p>不含溶劑，降低火災危險性兼具環境保護，無有機揮發性(VOC)的排放問題  無廢水處理問題與降低空氣污染 降低了對於操作人員健康的危害 卓越的塗膜性能與塗裝的成本優勢 減少操作人員訓練 可回收使用的塗料系統，塗料利用率超過90%</p>
      </div>
    </div>
    <div class="advantageBox" style="color: #079653;">
      <div class="box" style=" border: 2px solid #079653;">
        <div class="h2Group">
          <i class="far fa-thumbs-up"></i>
          <h2 >優點</h2>
        </div>
        <p>單次噴塗單次烘烤即可得到高膜厚的塗膜性能  烘烤時間短，達到節能減碳的環保目標 塗裝效率高、噴塗面積大降低塗裝成本 提供合乎使用者的需求，設計出符合產品所需的塗膜性能 可選擇不同的塗膜效果，包括亮光、平光、消光、垂紋、金屬色澤及砂紋等效果具有很寬廣的顏色範圍 可選用高耐候系列粉體塗料取代非環保的液體塗料</p>
      </div>
    </div>
  </div>



  <div class="txtBox" style="margin-top: 35px">
    <h1>塗料介紹</h1>
  </div>
  <div class="containPro box box1">
    <h2><i class="fas fa-fill-drip"></i> 一般耐候室外型塗料</h2>
    <div class="pro">
      <p>一般耐候室外型塗料可依塗料種類分為聚酯型與PU型。 聚酯型耐鹼性較低，但可搭配表面效果變化。 PU型則耐化學性與耐鹼性較好。其功能特性符合AAMA2603規範。  客戶可依下列需求進行搭配  聚酯型 -可在亮光、平光、消光等效果上搭配平面、砂紋、電腦紋 PU型 -以平面亮光、平光、消光為主</p>
    </div>
  </div>
  <div class="containPro box box2">
    <h2><i class="fas fa-fill-drip"></i> 高耐候室外型塗料</h2>
    <div class="pro">
      <h3>Interpon D</h3>
      <p>Interpon D是AkzoNobel(阿克蘇諾貝爾)針對全球鋁帷幕擠型與高耐候性能建材塗裝提供的粉體塗料系統， 符合且通過國際通行的標準_美國建築製造協會標準AAMA Standard (American Architectural Manufacturers Association) 所設計出相對應的高耐候性能粉體塗料系列產品。</p>
    </div>
  </div>
  <div class="containPro box box3">
    <h2><i class="fas fa-fill-drip"></i> 粉體氟碳</h2>
    <div class="pro">
      <h3>PVDF</h3>
      <p>PVDF氟碳塗料採用Kynar之PVDF樹脂、高性能樹脂和高耐候顏料所製造而成並通過AAMA2605-05之嚴苛測試， 他提供了超水準的耐化性及耐腐蝕性，同時在耐久性方面也提供色差、高光度保持率、高抗粉化性的優異性能。 在機械性能的表現，耐衝擊、密著性、耐屈曲、耐磨性特性，所以是戶外建築塗料最佳選擇。</p>
    </div>
    <div class="pro">
      <h3>FEVE</h3>
      <p>FEVE是指Fluoroethylene-Alkyl Vinyl Enther的聚合學， Fluoropolymer具有極高的耐候性、耐紫外線、耐熱、耐化學品關鍵所在，改良性官能基的導入， 提高了塗膜本身的機械性能、顏料的分散性，使基材形成保護，確保15年以上的壽命。  另外F的陰電性大，產生獨特的極性，使整各分子外團形成靜電保護層，排斥其它極性分子接近， 讓氟碳塗層具有不沾污、低摩擦、電氣絕緣等特殊表面性能。</p>
    </div>
  </div>
</div>


