<div class="unitBanner banner2"></div>
<div class="tabBox mid800">
  <h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    產品資訊
    <i class="fas fa-angle-right"></i>
    粉體塗裝
  </h5>
</div>
<div class="mid800 proTabsBtn">
  <a class="childBtn" routerLink="/products/about" routerLinkActive="active">粉體塗裝</a>
  <a class="childBtn" routerLink="/products/coating" routerLinkActive="active">塗料介紹</a>
  <a class="childBtn" routerLink="/products/process" routerLinkActive="active">生產流程</a>
  <a class="childBtn" routerLink="/products/intro" routerLinkActive="active">產品介紹</a>
</div>

<div class="mainbox1 mid800">
  <div class="txtBox">
    <h1>粉體塗裝優點</h1>
  </div>
  <div class="advantageMain">
    <div class="advantageBox">
      <div class="box" style=" border: 2px solid #0697f8;">
        <div class="h2Group"  style="color:#0697f8 ;">
          <i class="big far fa-lightbulb"></i>
          <h2>特性</h2>
        </div>
        <ul>
          <li><i class="blue fas fa-check-circle"></i> 不含溶劑，降低火災危險性兼具環境保護，無有機揮發性(VOC)的排放問題</li>
          <li><i class="blue fas fa-check-circle"></i> 無廢水處理問題與降低空氣污染</li>
          <li><i class="blue fas fa-check-circle"></i> 降低了對於操作人員健康的危害</li>
          <li><i class="blue fas fa-check-circle"></i> 卓越的塗膜性能與塗裝的成本優勢</li>
          <li><i class="blue fas fa-check-circle"></i> 減少操作人員訓練</li>
          <li><i class="blue fas fa-check-circle"></i> 可回收使用的塗料系統，塗料利用率超過90%</li>
        </ul>
      </div>
    </div>
    <div class="advantageBox">
      <div class="box" style=" border: 2px solid #079653;">
        <div class="h2Group" style="color: #079653;">
          <i class="big far fa-thumbs-up"></i>
          <h2 >優點</h2>
        </div>
        <ul>
          <li><i class="green fas fa-check-circle"></i> 單次噴塗單次烘烤即可得到高膜厚的塗膜性能</li>
          <li><i class="green fas fa-check-circle"></i> 烘烤時間短，達到節能減碳的環保目標</li>
          <li><i class="green fas fa-check-circle"></i> 塗裝效率高、噴塗面積大降低塗裝成本</li>
          <li><i class="green fas fa-check-circle"></i> 提供合乎使用者的需求，設計出符合產品所需的塗膜性能</li>
          <li><i class="green fas fa-check-circle"></i> 可選擇不同的塗膜效果，包括亮光、平光、消光、垂紋、金屬色澤及砂紋等效果</li>
          <li><i class="green fas fa-check-circle"></i> 具有很寬廣的顏色範圍 可選用高耐候系列粉體塗料取代非環保的液體塗料</li>
        </ul>
      </div>
    </div>
  </div>


</div>


