<header>
  <a class="ham" (click)="openNav()">
    <i class="fas fa-bars" *ngIf="!navOpen"></i>
    <i class="fas fa-times" *ngIf="navOpen"></i>
  </a>
  <a routerLink="index" class="logo" (click)="mobileCloseNav()">
    <img src="assets/images/juyang-logo.png" alt="">
  </a>

  <nav [@navOpen]="navOpen ? 'open' : 'closed'">
    <a routerLink="index" routerLinkActive="active" (click)="mobileCloseNav()">首頁</a>
    <a routerLink="about" routerLinkActive="active" (click)="mobileCloseNav()">關於炬洋</a>
    <a class="products"  (click)="toggleChild()" (clickOutside)="child = false">
      產品資訊 <i class="fas fa-angle-up" *ngIf="child"></i> <i class="fas fa-angle-down" *ngIf="!child"></i>
      <div class="proChild" *ngIf="child">
        <a class="childBtn" routerLink="products/about" routerLinkActive="active" (click)="mobileCloseNav()">粉體塗裝</a>
        <a class="childBtn" routerLink="/products/coating" routerLinkActive="active"  (click)="mobileCloseNav()">塗料介紹</a>
        <a class="childBtn" routerLink="products/process" routerLinkActive="active" (click)="mobileCloseNav()">生產流程</a>
        <a class="childBtn" routerLink="products/intro" routerLinkActive="active" (click)="mobileCloseNav()">產品介紹</a>
      </div>
    </a>
    <a class="products"  (click)="toggleChild2()" (clickOutside)="child2 = false">
      品質規範 <i class="fas fa-angle-up" *ngIf="child2"></i> <i class="fas fa-angle-down" *ngIf="!child2"></i>
      <div class="proChild" *ngIf="child2">
        <a class="childBtn" routerLink="quality/certificate" routerLinkActive="active" (click)="mobileCloseNav()">證書</a>
        <a class="childBtn" routerLink="quality/equipment" routerLinkActive="active" (click)="mobileCloseNav()">實驗室設備</a>
      </div>
    </a>
    <a routerLink="cooperation" routerLinkActive="active" (click)="mobileCloseNav()">合作案例</a>
    <a routerLink="contact" routerLinkActive="active" (click)="mobileCloseNav()">聯絡我們</a>
    <a class="closeBtn" (click)="mobileCloseNav()"><i class="fas fa-times"></i> 關閉</a>
  </nav>
</header>
