<div class="unitBanner banner2"></div>
<div class="tabBox mid800">
  <h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    產品資訊
    <i class="fas fa-angle-right"></i>
    產品介紹
  </h5>
</div>
<div class="mid800 proTabsBtn">
  <a class="childBtn" routerLink="/products/about" routerLinkActive="active">粉體塗裝</a>
  <a class="childBtn" routerLink="/products/coating" routerLinkActive="active">塗料介紹</a>
  <a class="childBtn" routerLink="/products/process" routerLinkActive="active">生產流程</a>
  <a class="childBtn" routerLink="/products/intro" routerLinkActive="active">產品介紹</a>
</div>

<div class="mainbox1 mid800">
  <div class="txtBox">
    <h1>產品介紹</h1>
  </div>

  <div class="swtH4Btn">
    <h2 (click)="intro1Change()" [ngClass]="{'h2active': intro1 == true}">一般室外型塗料</h2>
    <h2 (click)="intro2Change()" [ngClass]="{'h2active': intro2 == true}">高耐候Interpon D</h2>
    <h2 (click)="intro3Change()" [ngClass]="{'h2active': intro3 == true}">粉體氟碳</h2>
    <h2 (click)="intro4Change()" [ngClass]="{'h2active': intro4 == true}">木紋</h2>
  </div>

  <div class="containPlx" *ngIf="intro1">
    <h2 class="center" style="margin-bottom: 20px;">一般室外型塗料</h2>

    <div>
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="introMain">
        <!-- <a href="img/img1.webp"><img alt="img1" src="img/thumb1.webp" /></a>
        <a href="img/img1.webp"><img alt="img2" src="img/thumb1.webp" /></a> -->

        <a class="pic" href="assets/images/products/intro/class1/AB001T.webp"><img  src="assets/images/products/intro/class1/AB001T.webp" alt="AB001T"><p>AB001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/AD001T.webp"><img  src="assets/images/products/intro/class1/AD001T.webp" alt="AD001T"><p>AD001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/BB001T.webp"><img  src="assets/images/products/intro/class1/BB001T.webp" alt="BB001T"><p>BB001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/BD002T.webp"><img  src="assets/images/products/intro/class1/BD002T.webp" alt="BD002T"><p>BD002T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/GA090T.webp"><img  src="assets/images/products/intro/class1/GA090T.webp" alt="GA090T"><p>GA090T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/GC001T.webp"><img  src="assets/images/products/intro/class1/GC001T.webp" alt="GC001T"><p>GC001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/GC002T.webp"><img  src="assets/images/products/intro/class1/GC002T.webp" alt="GC002T"><p>GC002T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/GD005T.webp"><img  src="assets/images/products/intro/class1/GD005T.webp" alt="GD005T"><p>GD005T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/GD008T.webp"><img  src="assets/images/products/intro/class1/GD008T.webp" alt="GD008T"><p>GD008T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/GE001T.webp"><img  src="assets/images/products/intro/class1/GE001T.webp" alt="GE001T"><p>GE001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/HC001T.webp"><img  src="assets/images/products/intro/class1/HC001T.webp" alt="HC001T"><p>HC001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KA001T.webp"><img  src="assets/images/products/intro/class1/KA001T.webp" alt="KA001T"><p>KA001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KC001T.webp"><img  src="assets/images/products/intro/class1/KC001T.webp" alt="KC001T"><p>KC001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KC002T.webp"><img  src="assets/images/products/intro/class1/KC002T.webp" alt="KC002T"><p>KC002T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KD001T.webp"><img  src="assets/images/products/intro/class1/KD001T.webp" alt="KD001T"><p>KD001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KD002T.webp"><img  src="assets/images/products/intro/class1/KD002T.webp" alt="KD002T"><p>KD002T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KD003T.webp"><img  src="assets/images/products/intro/class1/KD003T.webp" alt="KD003T"><p>KD003T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/KE001T.webp"><img  src="assets/images/products/intro/class1/KE001T.webp" alt="KE001T"><p>KE001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/LC002T.webp"><img  src="assets/images/products/intro/class1/LC002T.webp" alt="LC002T"><p>LC002T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/LE001T.webp"><img  src="assets/images/products/intro/class1/LE001T.webp" alt="LE001T"><p>LE001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/MA002T.webp"><img  src="assets/images/products/intro/class1/MA002T.webp" alt="MA002T"><p>MA002T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/MA004T.webp"><img  src="assets/images/products/intro/class1/MA004T.webp" alt="MA004T"><p>MA004T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/NA001T.webp"><img  src="assets/images/products/intro/class1/NA001T.webp" alt="NA001T"><p>NA001T</p> </a>
        <a class="pic" href="assets/images/products/intro/class1/NA004T.webp"><img  src="assets/images/products/intro/class1/NA004T.webp" alt="NA004T"><p>NA004T</p> </a>
      </lightgallery>
    </div>
  </div>
  <div class="containPlx" *ngIf="intro2">
    <h2 class="center" style="margin-bottom: 20px;">高耐候Interpon D</h2>
    <div>
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="introMain">
        <a class="pic" href="assets/images/products/intro/class4/AJ002T.webp"><img src="assets/images/products/intro/class4/AJ002T.webp" alt="AJ002T"><p>AJ002T</p></a>
        <a class="pic" href="assets/images/products/intro/class4/GJ014T.webp"><img src="assets/images/products/intro/class4/GJ014T.webp" alt="GJ014T"><p>GJ014T</p></a>
        <a class="pic" href="assets/images/products/intro/class4/HJ004T.webp"><img src="assets/images/products/intro/class4/HJ004T.webp" alt="HJ004T"><p>HJ004T</p></a>
        <a class="pic" href="assets/images/products/intro/class4/HJ005T.webp"><img src="assets/images/products/intro/class4/HJ005T.webp" alt="HJ005T"><p>HJ005T</p></a>
        <a class="pic" href="assets/images/products/intro/class4/KM002T.webp"><img src="assets/images/products/intro/class4/KM002T.webp" alt="KM002T"><p>KM002T</p></a>
        <a class="pic" href="assets/images/products/intro/class4/LJ002T.webp"><img src="assets/images/products/intro/class4/LJ002T.webp" alt="LJ002T"><p>LJ002T</p></a>
      </lightgallery>
    </div>
  </div>
  <div class="containPlx"  *ngIf="intro3">
    <h2 class="center" style="margin-bottom: 20px;">粉體氟碳</h2>
    <div>
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="introMain">
        <a class="pic" href="assets/images/products/intro/class3/AF004T.webp"><img src="assets/images/products/intro/class3/AF004T.webp" alt="AF004T"><p>AF004T</p></a>
        <a class="pic" href="assets/images/products/intro/class3/BF001T.webp"><img src="assets/images/products/intro/class3/BF001T.webp" alt="BF001T"><p>BF001T</p></a>
        <a class="pic" href="assets/images/products/intro/class3/GF038T.webp"><img src="assets/images/products/intro/class3/GF038T.webp" alt="GF038T"><p>GF038T</p></a>
        <a class="pic" href="assets/images/products/intro/class3/KF006T.webp"><img src="assets/images/products/intro/class3/KF006T.webp" alt="KF006T"><p>KF006T</p></a>
        <a class="pic" href="assets/images/products/intro/class3/LF006T.webp"><img src="assets/images/products/intro/class3/LF006T.webp" alt="LF006T"><p>LF006T</p></a>
      </lightgallery>
    </div>
  </div>
  <div class="containPlx" *ngIf="intro4">
    <h2 class="center" style="margin-bottom: 20px;">木紋</h2>
    <div >
      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="introMain">
        <a class="pic" href="assets/images/products/intro/class2/RQ0010.webp"><img src="assets/images/products/intro/class2/RQ0010.webp" alt="RQ0010"><p>RQ0010</p></a>
        <a class="pic" href="assets/images/products/intro/class2/RR0006.webp"><img src="assets/images/products/intro/class2/RR0006.webp" alt="RR0006"><p>RR0006</p></a>
        <a class="pic" href="assets/images/products/intro/class2/RR0013.webp"><img src="assets/images/products/intro/class2/RR0013.webp" alt="RR0013"><p>RR0013</p></a>
        <a class="pic" href="assets/images/products/intro/class2/RR0015.webp"><img src="assets/images/products/intro/class2/RR0015.webp" alt="RR0015"><p>RR0015</p></a>
        <a class="pic" href="assets/images/products/intro/class2/RS0012.webp"><img src="assets/images/products/intro/class2/RS0012.webp" alt="RS0012"><p>RS0012</p></a>

      </lightgallery>
    </div>
  </div>
</div>
