.swtH4Btn{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 96px;
  z-index: 96;
  margin-bottom: 25px;
  h2{
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding:5px 19px;
    border: #00712f 1px solid;
    color: #00712f;
    background-color: #ffffff;
    width: 100%;
    &:first-child{
      border-radius: 50px 0 0 50px;
    }
    &:last-child{
      border-radius: 0 50px 50px 0;
    }

  }
  .h2active{
    background-color: #00712f;
    color: #ffffff;
  }
}

.introMain{
  display: flex;
  flex-wrap: wrap;
  .pic{
    width: 20%;
    p{text-align: center;}
  }
}
