<div class="unitBanner banner4"></div>
<div class="tabBox mid800">
    <h5>
        <a routerLink=""><i class="fas fa-home"></i>首頁</a>
        <i class="fas fa-angle-right"></i>
        合作案例
    </h5>
</div>
<div class="mainbox1 mid800">
    <div class="txtBox">
      <h1 class="center">合作案例</h1>
    </div>

    <div class="containPlx center">

      <div>
        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="cooperationMain">
          <a class="pic" href="assets/images/cooperation/cooperation1.jpg">
            <img src="assets/images/cooperation/cooperation1.jpg" alt="台積電十二廠第七期">
            <p>台積電十二廠第七期</p>
          </a>
          <a class="pic" href="assets/images/cooperation/cooperation2.jpg">
            <img src="assets/images/cooperation/cooperation2.jpg" alt="台積電十四廠第七期">
            <p>台積電十四廠第七期</p>
          </a>
          <a class="pic" href="assets/images/cooperation/cooperation3.jpg">
            <img src="assets/images/cooperation/cooperation3.jpg" alt="國揚汐止雲天綠地">
            <p>國揚汐止雲天綠地</p>
          </a>
          <a class="pic" href="assets/images/cooperation/cooperation4.jpg">
            <img src="assets/images/cooperation/cooperation4.jpg" alt="國泰A3置地大樓">
            <p>國泰A3置地大樓</p>
          </a>
          <a class="pic" href="assets/images/cooperation/cooperation5.jpg">
            <img src="assets/images/cooperation/cooperation5.jpg" alt="信義區55Timeless琢白">
            <p>信義區55Timeless琢白</p>
          </a>
          <a class="pic" href="assets/images/cooperation/cooperation6.jpg">
            <img src="assets/images/cooperation/cooperation6.jpg" alt="日本福岡西新Prariva">
            <p>日本福岡西新Prariva</p>
          </a>
          <a class="pic" href="assets/images/cooperation/cooperation7.jpg">
            <img src="assets/images/cooperation/cooperation7.jpg" alt="宇盟實業龜山新廠">
            <p>宇盟實業龜山新廠</p>
          </a>
        </lightgallery>
      </div>
    </div>
</div>
