<footer>
  <div class="f-banner">
    <div class="mid1200">
      <div class="fb-txt">
          <p>
            如對於產品與服務有任何問題，請留下聯絡資訊與問題，我們將會與您聯繫
          </p>
          <button  routerLink="contact"><i class="fas fa-envelope"></i> 連繫我們</button>

      </div>

    </div>

  </div>
  <div class="mid1200">
    <div class="f-Top">
      <div class="f-Left">
        <a routerLink="index">
          <img class="logo" src="assets/images/juyang-logo.png" alt="">
        </a>

        <div>
          <p>彰化縣芳苑鄉草湖村二溪路草一段7號1樓</p>
          <p>TEL:04-8961891	FAX:04-8966539</p>
        </div>
      </div>
      <div class="f-Right">
        <div class="fR-btn"><a routerLink="index" routerLinkActive="active"><i class="fas fa-angle-right"></i>首頁</a></div>
        <div class="fR-btn"><a routerLink="about" routerLinkActive="active"><i class="fas fa-angle-right"></i>關於炬洋</a></div>
        <div class="fR-btn"><a routerLink="products" rocuterLinkActive="active"><i class="fas fa-angle-right"></i>產品資訊</a></div>
        <div class="fR-btn"><a routerLink="quality" routerLinkActive="active"><i class="fas fa-angle-right"></i>品質規範</a></div>
        <div class="fR-btn"><a routerLink="cooperation" routerLinkActive="active"><i class="fas fa-angle-right"></i>合作案例</a></div>
        <div class="fR-btn"><a routerLink="contact" routerLinkActive="active"><i class="fas fa-angle-right"></i>聯絡我們</a></div>
      </div>
    </div>

    <div class="f-Down">
      © JuYang Ltd. All Rights Reserved.
    </div>
  </div>

</footer>
