<div class="unitBanner banner1">

</div>
<div class="tabBox mid800">
  <h5>
    <a routerLink=""><i class="fas fa-home"></i>首頁</a>
    <i class="fas fa-angle-right"></i>
    關於炬洋
  </h5>
</div>

<div class="mainbox1 mid800">
  <div class="txtBox">
    <h1>關於炬洋</h1>
  </div>
  <div class="containPlx">
    <p>炬洋有限公司成立於西元1981年，設立於彰化縣芳苑鄉， 專營建築帷幕、室內外門窗鋁擠型、工業用鋁擠型等鋁材專業塗裝與表面處理。我們擁有專業粉體烤漆技術團隊與自動化生產設備，並有堅強的業務團隊 提供給客戶優質的烤漆專業的服務與諮詢，給予客戶最滿意且安心的品質。</p>
    <p>經營團隊秉持著提供創新的服務態度，關注客戶的未來發展，堅持使用降低VOC產生的環保製程與綠色塗料，朝向『零VOC』的目標前進。內部所使用的粉體塗料均通過美國AAMA規範指標，符合綠建築評級認證規範， 以最專業的技術提供快速切安心的服務品質。領先業界設立『自主性實驗室』，定時檢測前處理、塗裝作業項目， 讓塗裝品質臻善臻美。</p>
  </div>
</div>

<div class="grayBG">
  <div class="mainbox1 mid800" >
    <div class="txtBox">
      <h1>經營理念 - 誠信、創新、永續、節能</h1>
    </div>
    <div class="containPlx">

      <div class="ideaMain">
        <div class="ideaBox">
          <div class="box box1">
            <div class="h2Group">
              <i class="fas fa-handshake"></i>
              <h2>以誠信為原則</h2>
            </div>
            <p>以客戶為尊，全心全意的服務，換取客戶最大的滿意度</p>
          </div>
        </div>
        <div class="ideaBox ">
          <div class="box box2">
            <div class="h2Group">
              <i class="fas fa-atom"></i>
              <h2>以創新為宗旨</h2>
            </div>
            <p>創新致遠，堅持專業，追求卓越，迎向國際</p>
          </div>
        </div>
        <div class="ideaBox">
          <div class="box box3">
            <div class="h2Group">
              <i class="fas fa-recycle"></i>
              <h2>以永續為基礎</h2>
            </div>
            <p>以人為本，用心做事，建立核心價值，打造進步團隊</p>
          </div>
        </div>
        <div class="ideaBox">
          <div class="box box4">
            <div class="h2Group">
              <i class="fas fa-leaf"></i>
              <h2>以節能為指標</h2>
            </div>
            <p>善盡環境保護、實現綠能健康</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mainbox1 mid800">
  <div class="txtBox">
    <h1>歷史沿革</h1>
  </div>
  <div class="containPlx">
    <div class="historyMain">

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">1981年 </div>
        <div class="txt">開始從事鋁材表面處理及烤漆塗裝業務</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">1995年 </div>
        <div class="txt">創立忠慶國際有限公司，專業從事門窗鋁擠型的【粉體塗裝】，產能達300噸/月</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2004年 </div>
        <div class="txt">在原有的烘烤爐增設1套燃燒器，有效提升烘烤效率與塗裝品質  烘烤爐增設溫度顯示監控系統，有效確保塗裝品質</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2005年 </div>
        <div class="txt">設立塗裝二廠，新設1套直立式前處理設備與2條塗裝生產線，產能可達800噸/月  榮獲ISO 9001品質認證</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2007年 </div>
        <div class="txt">公司改設，購買二溪路現址工廠用地並且開始興建廠房</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2008年 </div>
        <div class="txt">設立炬洋有限公司 設立全自動前處理系統、8M核能純水機 設置3條塗裝生產線、4套負壓式快速換色噴房系統，長達65公尺高效能溫度監控烘烤爐，2套自動包裝系統 設置全自動廢水回收處理設備、廢氣排放處理設備、消防安全設備，並均符合國家環保法規  設置『自主性實驗室』並添置相關檢驗、 測試儀器中有，酸鹼中和滴定設備、pH測定儀、電導率儀、精密微量天秤、膜厚計、微電腦光澤計、密著測試、衝擊測試機、鉛筆硬度測試儀、高壓鍋測試與MEK測試等</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2009年 </div>
        <div class="txt">炬洋新廠竣工，正式量產。生產廠房5000坪，倉庫廠3500坪，產能超越2000噸/月 台灣第一家，榮獲荷商-阿克蘇諾貝爾常誠股份有限公司Interpon D塗裝廠認證合格，獲得生產符合AMMA高耐候性能規格建材粉體塗料的塗裝授權</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2010年 </div>
        <div class="txt">導入電腦生產管控系統  榮獲 『ISO 9001:2008』品質認證</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2011年 </div>
        <div class="txt">更新前處理滴定測試設備</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2012年 </div>
        <div class="txt">噴房增設Gema自動靜電塗裝設備 廠房第三舍擴建</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2014年 </div>
        <div class="txt">日本名神株式會社來台參觀並撰寫專題</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2015年 </div>
        <div class="txt">增設立式噴塗設備與木紋專用噴塗設備</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2016年 </div>
        <div class="txt">增設立式線自動包裝設備</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2017年 </div>
        <div class="txt">榮獲 『ISO 9001:2008』品質認證</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2018年 </div>
        <div class="txt">增設新式板材線專用塗裝設備</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2019年 </div>
        <div class="txt">增設木紋熱轉印設備</div>
      </div>

      <div class="h-box">
        <div class="disc"></div>
        <div class="year">2022年 </div>
        <div class="txt">迄今持續提供最創新、優質的服務</div>
      </div>

    </div>

  </div>
</div>
