<div class="unitBanner banner3"></div>
<div class="tabBox mid800">
    <h5>
      <a routerLink=""><i class="fas fa-home"></i>首頁</a>
      <i class="fas fa-angle-right"></i>
      品質規範
      <i class="fas fa-angle-right"></i>
      實驗室設備
    </h5>
  </div>
  <div class="mid800 proTabsBtn">
    <a class="childBtn" routerLink="/quality/certificate" routerLinkActive="active">證書</a>
    <a class="childBtn" routerLink="/quality/equipment" routerLinkActive="active">實驗室設備</a>
  </div>
<div class="mainbox1 mid800">
    <div class="txtBox">
      <h1>實驗室設備</h1>
    </div>

    <div class="containPlx">
      <div>
        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide"  class="equipmentMain">
          <a class="pic" href="assets/images/quality/equipment/equipment1.webp"><img src="assets/images/quality/equipment/equipment1.webp" alt="光澤儀"><p>光澤儀</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment2.webp"><img src="assets/images/quality/equipment/equipment2.webp" alt="百格附著測驗器"><p>百格附著測驗器</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment3.webp"><img src="assets/images/quality/equipment/equipment3.webp" alt="色差儀"><p>色差儀</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment4.webp"><img src="assets/images/quality/equipment/equipment4.webp" alt="高壓力鍋"><p>高壓力鍋</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment5.webp"><img src="assets/images/quality/equipment/equipment5.webp" alt="鉛筆硬度測試儀"><p>鉛筆硬度測試儀</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment6.webp"><img src="assets/images/quality/equipment/equipment6.webp" alt="電導率測定儀"><p>電導率測定儀</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment7.webp"><img src="assets/images/quality/equipment/equipment7.webp" alt="膜厚儀"><p>膜厚儀</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment8.webp"><img src="assets/images/quality/equipment/equipment8.webp" alt="非接觸式膜厚量測儀"><p>非接觸式膜厚量測儀</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment9.webp"><img src="assets/images/quality/equipment/equipment9.webp" alt="杜邦式衝擊器"><p>杜邦式衝擊器</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment10.webp"><img src="assets/images/quality/equipment/equipment10.webp" alt="前處理滴定實驗"><p>前處理滴定實驗</p></a>
          <a class="pic" href="assets/images/quality/equipment/equipment11.webp"><img src="assets/images/quality/equipment/equipment11.webp" alt="全自動藥液監控加藥設備"><p>全自動藥液監控加藥設備</p></a>
        </lightgallery>
      </div>
    </div>
</div>
